
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>handlebarsJS example</title>
  </head>



  <body>
	<h1>Lets say hello to:</h1>
	<div id="nameoutput">
	</div>
  <h2> Hello {{firstname}}!</h2>
  
  </body>

</html>

<script src="handlebars.js"></script>

<script id="person-template" type="text/x-handlebars-template">
	<p class="person">{{firstname}} {{lastname}}</p>
</script>
  
  <script>
  window.onload = function () {
	  var source = document.getElementById("person-template").innerHTML;
	  var template = Handlebars.compile(source);
	  var context = {firstname: "Merry", lastname: "Poppins"};
	  var output = template(context);
	  document.getElementById("nameoutput").innerHTML = output;
  }
  </script>

