<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.png">
    <title>Project Pals | Dashboard</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    
    
    <!-- Toastr style -->
    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!--The following imports handlebars.js-->
    <script type="text/javascript" src="handlebars.js"></script>
    <script src="js/jquery-2.1.1.js"></script>
    
<!--Username template -->
    <script id="person-template" type="text/x-handlebars-template">
         {{firstname}} {{lastname}}                                             
    </script>
    
<!--Following script compiles the template and data values and outputs them as HTML.-->
    <script>
      window.onload = function () {
          var source = document.getElementById("person-template").innerHTML;
          var template = Handlebars.compile(source);
          var context = {firstname: "Miriam", lastname: "Bogler"};
          var output = template(context);
          document.getElementById("username").innerHTML = output;
          document.getElementById("welcome").innerHTML = output;
      }
      </script>
</head>

<body>
    
    <!-- THIS IS THE START OF THE SIDE MENU -->
    <div id="wrapper">
         <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <div class="row text-center">
                                 <span>
                                    <a href="profile.html"><img alt="image" id="userimage" class="img-circle" src="img/miriam.png" /></a>
                                </span>
                            
                            <span class="clear">
                             <span class="block m-t-xs"> 
                             <!--Name output from handlebar goes here. -->
                                <div id ="username" class="font-bold">
                                </div>
                                

                              </span>
                            </span>
                        </div>
                    </div>
                        <div class="logo-element">
                           <img alt="image" class="img-circle" src="img/miriam.png" />
                        </div>
                        <ul >
                            <li class="divider"></li>
                        </ul>
                        <li><a href="components.html" id="create-project-modal-toggle"><i class="fa fa-laptop fa-2x"></i> <span class="nav-label">Projects</span></a>


                            <ul class="nav nav-second-level">

                            <li class="active"><a href="projects.html">Projects</a></li>
                            <li ><a href="teams.html">Teams</a></li>
                           
                            <li ><a href="teachers.html">Teachers</a></li>
                            <li ><a href="students.html">Students</a></li>
                            </ul>
                        </li> 

                        <li><a href="#"><i class="fa  fa-bar-chart-o fa-2x"></i><span class="nav-label">Analytics</span></a>
                            <ul class="nav nav-second-level">
                            <li class="active"><a href="analytics.html">Analytics</a></li>
                            <li ><a href="activity.html">Current Activity</a></li>
                            <li ><a href="assessments.html">Assessments</a></li>
                             <li ><a href="portfolio.html">Portfolios</a></li>
                            </ul>
                        </li>
                         <li><a href="components.html" id="create-project-modal-toggle"><i class="fa fa-envelope fa-2x"></i> <span class="nav-label">Messages</span></a>

                        <ul class="nav nav-second-level">
                         <li ><a href="messages.html">Messages</a></li>   
                         <li ><a href="pals.html">Pals</a></li>
                          </ul>
                        </li>

                        <li><a href="sponsorship.html" id="create-project-modal-toggle"><i class="fa fa-briefcase fa-2x"></i> <span class="nav-label">Sponsorship</span></a></li>

                        <li><a href="license.html" id="create-project-modal-toggle"><i class="fa fa-certificate fa-2x"></i> <span class="nav-label">License</span></a></li>

                        <li><a href="forums.html" id="create-project-modal-toggle"><i class="fa fa-comments-o fa-2x"></i> <span class="nav-label">Forums</span></a></li>

                        <li><a href="FAQ.html" id="create-project-modal-toggle"><i class="fa fa-question-circle fa-2x"></i> <span class="nav-label">FAQ</span></a></li>
                    </li>
                </ul>

            </div>
        </nav>


    <!---------------------------------wrapper---------------------------------------------------------------------------------->
        <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <!--This is a test section. -->
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <a class="minimalize-styl-2 btn btn-blue" href="index.html" id="home_link"><i class="fa fa-home"></i></a>

            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <!--This is a test section -->
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to Project Pals Dashboard, <span id ="welcome" class="font-bold"></span> </span>
                </li>
                
                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
        </div>
                

 <!-- THIS IS THE END OF THE SIDE MENU -->
            <div class="wrapper wrapper-content animated fadeInRight">
                Stuff goes in here. :D
            </div>
         <div class="footer">
            
            <div>
                <strong>Copyright</strong> Project Pals, Inc. &copy; 2015-2016
            </div>
        </div>  
            
        </div>
        
    </div>
    
    </div>
    

    
    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- GITTER -->
    <script src="js/plugins/gritter/jquery.gritter.min.js"></script>
    
    

</body>
</html>

